{% extends "inicio/base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h2>Bienvenido a la lista de contactos</h2>
    <p>Usuario actual: {{ request.user }}</p>
    <p>¿Está autenticado?: {{ request.user.is_authenticated }}</p>
    <p>Método HTTP: {{ request.method }}</p>
    <p>Ruta solicitada: {{ request.path }}</p>
    <p>Dirección IP del cliente: {{ request.META.REMOTE_ADDR }}</p>
    <h3>{{myText}}</h3>
    <h3>{{myNumber}}</h3>
    <ul>
    {% for myItem in myList %}
        <li>{{forloop.counter}} - {{ myItem }}</li>
    {% endfor %}
    </ul>
{% endblock %}